<div class="container bg-3 text-center fondo-contenedor">
  <div class="row">
    <div class="col-xs-6 col-lg-3 nopadding text-center">
      <img class="img-thumbnail event-option-izq " src="/assets/images/cargar-look-foto-1.jpg" alt="Image">
    </div>
    <div class="col-xs-6 col-lg-3 nopadding text-center">
      <img class="img-thumbnail event-option-dere grises" src="/assets/images/cargar-look-foto-2.jpg" alt="Image">
    </div>
    <div class="col-xs-6 col-lg-3 nopadding text-center ">
      <img class="img-thumbnail event-option-izq grises" src="/assets/images/cargar-look-foto-3.jpg" alt="Image">
    </div>
    <div class="col-xs-6 col-lg-3 nopadding text-center">
      <img class="img-thumbnail event-option-dere grises" src="/assets/images/cargar-look-foto-4.jpg" alt="Image">
    </div>
  </div>
</div>
<div class="container-fluid footer-distant">
  <div class="row">
    <!--CUANDO SE CARGARON MÍNIMO DOS IMÁGENES LA CLASE .deshabilitado DESAPARECE-->
    <a class="btn-unico deshabilitado" (tap)="next()">Next</a>
  </div>
</div>
